# Intro to Jupyter Notebook

+ Import Image
- Highlight

<img src='ref for modeling.png'>

Welcome Home `dear`.

In [1]:
print ('Hello World')

Hello World

In [2]:
x = 3
y = 5

In [3]:
x

3

In [4]:
Universit√† della Svizzera italiana

In [5]:
k[4]='R'

In [6]:
k[4]

'R'

In [7]:
k

['A', 'B', 'C', 'D', 'R']

In [8]:
h=('A', 'B', 'C', 'D', 'R')

In [9]:
j=[1,2,3,4,5]

In [10]:
star={'h':h, 'j':j}

In [11]:
star

{'h': ('A', 'B', 'C', 'D', 'R'), 'j': [1, 2, 3, 4, 5]}

In [12]:
star.keys()

dict_keys(['h', 'j'])

In [13]:
star.values()

dict_values([('A', 'B', 'C', 'D', 'R'), [1, 2, 3, 4, 5]])

In [14]:
def perimeter(R):
    return 2*3.14*R

In [15]:
def perimeter(S):
    return 5*3.14**2*S

In [16]:
perimeter(3)

147.894

In [13]:
Name=['Peter', 'Paul', 'James', 'John', 'Ahmed']
Age=(34,66,77,40,46)
Height=[5.5,5.6,5.2, 5.11, 5.3]

In [14]:
tab = {'Name':Name, 'Age':Age, 'Height':Height}

In [15]:
import pandas as pd

In [17]:
table = pandas.DataFrame(tab)

In [18]:
table

    Name  Age  Height
0  Peter   34    5.50
1   Paul   66    5.60
2  James   77    5.20
3   John   40    5.11
4  Ahmed   46    5.30

In [19]:
$%^&**()_|}{:""}

SyntaxError: invalid syntax (<ipython-input-19-a7eb16ca4e16>, line 1)

In [23]:
def add(a,b,c):
    '''
    this is a way to document what a function does
    '''
    return (a+b)-c

In [24]:
add(8,9,10)

7

In [25]:
add?

In [26]:
import math

In [29]:
def peri(d):
    2*math.pi*d

In [30]:
peri(5)

In [31]:
pie=math.pi

In [32]:
pie

3.141592653589793

In [33]:
def peri(d):
    return 2*pie*d

In [34]:
peri(5)

31.41592653589793

In [48]:
def max(i,o,u):
    if i > o and i> u:
        return i
    elif o > i and o>u:
        return o
    elif u > i and u>o :
        return u
    else:
        return 'similar'

In [49]:
max(10,20,30)

30

In [50]:
max(1,1,1)

'similar'

In [53]:
def multiply(x):
    total=1
    for i in x:
        total =total * i
    return total

In [1]:
text1="Ethics are built right into deals and objectives of the United Nations"

In [4]:
len(text1)

70

In [5]:
text2=text1.split(' ')

In [6]:
len(text2)

12

In [10]:
[w for w in text2 if len(w) > 3]

['Ethics',
 'built',
 'right',
 'into',
 'deals',
 'objectives',
 'United',
 'Nations']

In [12]:
[w for w in text2 if w=="United" or w=="Nations"]

['United', 'Nations']

In [19]:
text3="To be or not to be"
text4 = text3.split(" ")

len (text4)

6

In [20]:
set(text4)

{'To', 'be', 'not', 'or', 'to'}

In [22]:
len(set([w.upper() for w in text4]))

4

In [23]:
text5 = "ouagadougou"
text6 = text5.split("ou")

In [24]:
text6

['', 'agad', 'g', '']

In [25]:
" ".join(text6)

' agad g '

In [29]:
text7 = "A quick brown fox jumped over the laxt dog"
text8= text7.strip()
text8.split(" ")

['A', 'quick', 'brown', 'fox', 'jumped', 'over', 'the', 'laxt', 'dog']

In [32]:
file = open('UNDHR.txt')